
.All {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: grey;
}

.P_img {
  width: 150px;
  margin-left: 35%;
}


.Pic_container {
  margin-top: 20%;
  width: 409px;
  height: 255px;
  background-color: aquamarine;
  border: solid black 2px;
}
.Name_container {
  margin-top: 20%;
  width: 409px;
  height: 255px;
  background-color: aquamarine;
  border: solid black 2px;
}

.Adress_container {
  margin-top: 20%;
  width: 409px;
  height: 255px;
  background-color: aquamarine;
  border: solid black 2px;
}






